#about-page .navbar {
    color: black;
}

#about-page{
    height: 150vh; 
    background-image: url('../assets/images/unsplash_XoByiBymX20-1.jpg');
    background-repeat: no-repeat;
    background-position: 25%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 25% 25% 25% 25%;
}