#customer-review-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.review-card {
    display: flex;
    flex-direction: row;
    border-left: 3px solid black;
    margin-top: 10vh; 
    background-color: white;
    max-width: 33vw;
    height: auto;
}


.review-card img {
    margin-left: 10px;
    height: auto;
    width: auto;
}


/* .review-card:nth-last-of-type(2) {
    padding-right: 10%;
} */