#footer {
    height: 25vh; 
    background-color: rgb(26, 25, 23);
    color: grey;
}

#footer {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

#footer div {
    align-self: center;
    
}

#copyright{
    padding-left: 5%;
}

#social-media{
    padding-right: 5%;
    font-size: 1.5em;
}

#social-media *{
    padding-right: 20px;
}