#image-gallery {
    padding-top: 10%;
    /* display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-top: 0%;
}


#large-images img {
    height: 100%;
    width: 50%;
}

#small-images img {
    height: 100%;
    width: 33%;
}