.navbar{
    background-color: transparent;
    color: white;
    padding-top: 5px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 20px;
}

#nav-logo {
    font-size: 25px;
}

.nav-menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-items li {
    padding-left: 20px;
}

.name-menu-item {
    color: white; 
    text-decoration: none;
    list-style: none;
}

.nav-menu-items button {
    background-color: transparent;
    color: white;
    border: 1px outset white;
}